.counter {
  text-align: center;
}

.counter__button {
  border-radius: 100%;
  background: #fff;
  border: 1px solid black;
  font-size: 20px;
  width: 50px;
  height: 50px;
}

.counter__button--async {
  border-radius: 5px;
  width: auto;
}

.counter__button:hover {
  background: gray;
  cursor: pointer;
}

.counter__button:not(:last-child) {
  margin-right: 10px;
}
